<link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" sizes="any">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/images/site.webmanifest' | relative_url }}">
{% if page.url == '/' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "Section Repeat for YouTube",
  "description": {{ site.description | jsonify }},
  "url": {{ '/' | absolute_url | jsonify }},
  "applicationCategory": "BrowserApplication",
  "operatingSystem": "Google Chrome",
  "softwareRequirements": "Google Chrome 102 or later",
  "softwareVersion": {{ site.version | jsonify }},
  "installUrl": {{ site.store_url | jsonify }},
  "image": {{ site.image | absolute_url | jsonify }},
  "isAccessibleForFree": true,
  "inLanguage": "en",
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "url": {{ site.author.url | jsonify }}
  },
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  }
}
</script>
{% endif %}
